# Color schemes
#
# see https://neomutt.org/contrib/colorschemes
source {{ .chezmoi.homeDir }}/.config/neomutt/colorschemes/solarized/dark-256.muttrc

# vi key bindings
#
# see https://neomutt.org/contrib/vim-keys
# see https://github.com/neomutt/neomutt/blob/master/contrib/vim-keys/vim-keys.rc
source {{ .chezmoi.homeDir }}/.config/neomutt/vim-keys.rc

# UI configuration
set editor = vim
set sidebar_visible
set sidebar_format = "%B%?F? [%F]?%* %?N?%N/?%S"
set sort = 'reverse-date'
set mail_check_stats
auto_view text/html
alternative_order text/plain text/enriched text/html

# General email settings
set realname='{{ (bitwardenFields "item" "chezmoi").firstName.value }} {{ (bitwardenFields "item" "chezmoi").lastName.value }}'
set ssl_starttls=yes
set ssl_force_tls=yes

# Hotmail
set imap_user = '{{ (bitwardenFields "item" "chezmoi").hotmailEmail.value }}'
set imap_pass = '{{ (bitwardenFields "item" "chezmoi").hotmailPassword.value }}'
set from= $imap_user
set use_from=yes
set folder = imaps://imap-mail.outlook.com:993
set spoolfile = "+INBOX"
set postponed="+[hotmail]/Drafts"
set mail_check = 100
set header_cache = "~/.mutt/cache/headers"
set message_cachedir = "~/.mutt/cache/bodies"
set certificate_file = "~/.mutt/certificates"
set smtp_url = "smtp://$imap_user@smtp-mail.outlook.com:587"
set smtp_pass = $imap_pass
set move = no
set imap_keepalive = 900
set record="+Sent"
