[user]
  name = {{ (bitwardenFields "item" "40322edd-657a-49f2-b509-adbb0135e41d").firstName.value }} {{ (bitwardenFields "item" "40322edd-657a-49f2-b509-adbb0135e41d").lastName.value }}
  email = {{ (bitwardenFields "item" "40322edd-657a-49f2-b509-adbb0135e41d").email.value }}
[core]
  editor = nvim
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
  autocrlf = input
  eol = lf
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigation = true
  dark = true
  line-numbers = true
[merge]
  conflictStyle = zdiff3
[alias]
  co = checkout
  cob = checkout -b
  c = commit
  pl = pull
  pu = push
  st = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit


# FIXME: We should use GPG files.
#
# @see https://github.com/git-ecosystem/git-credential-manager/blob/release/docs/credstores.md#gpgpass-compatible-files
# @see https://github.com/git-ecosystem/git-credential-manager
[credential]
  helper = {{ .chezmoi.homeDir }}/.local/bin/git-credential-manager
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/usr/bin/gh auth git-credential

[http]
  postBuffer = 1048576000


[url "https://root:{{ (bitwardenFields "item" "c8e2e778-8343-4e4c-9cae-ac0c00665261").PatDevelopment.value }}@github.com"]
  insteadOf = https://github.com

{{ if eq .chezmoi.hostname "xps-13" -}}
#######################################################################################################################
# Home
#######################################################################################################################
[url "https://{{ (bitwardenFields "item" "e735dca9-5493-435c-a71f-b39200ad4e0b").gitlabHomelabUser.value }}:{{ (bitwardenFields "item" "e735dca9-5493-435c-a71f-b39200ad4e0b").gitlabHomelabPat.value }}@gitlab.homelab.internal"]
  insteadOf = https://gitlab.homelab.internal
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir "workspace-github/bgaillard/dotfiles") -}}
#######################################################################################################################
# My Money Bank
#######################################################################################################################
[url "https://{{ (bitwardenFields "item" "af737683-4aa8-4a44-9a03-aef100ad8e96").gitHttpsUsername.value }}:{{ (bitwardenFields "item" "af737683-4aa8-4a44-9a03-aef100ad8e96").gitHttpsPassword.value }}@{{ (bitwardenFields "item" "af737683-4aa8-4a44-9a03-aef100ad8e96").gitHost1.value }}"]
  insteadOf = https://{{ (bitwardenFields "item" "af737683-4aa8-4a44-9a03-aef100ad8e96").gitHost1.value }}

[url "https://{{ (bitwardenFields "item" "af737683-4aa8-4a44-9a03-aef100ad8e96").gitHttpsUsername.value }}:{{ (bitwardenFields "item" "af737683-4aa8-4a44-9a03-aef100ad8e96").gitHttpsPassword.value }}@{{ (bitwardenFields "item" "af737683-4aa8-4a44-9a03-aef100ad8e96").gitHost1.value }}"]
  insteadOf = https://{{ (bitwardenFields "item" "af737683-4aa8-4a44-9a03-aef100ad8e96").gitHost2.value }}
{{- end }}
