Host homelab
    Hostname {{ (bitwardenFields "item" "b3a24bd2-c777-4556-9f07-b39200acc70a").hostname.value }}
    User {{ (bitwardenFields "item" "b3a24bd2-c777-4556-9f07-b39200acc70a").user.value }}
