---

# @see https://www.usebruno.com/downloads
- name: Add Bruno APT keyring directory
  ansible.builtin.shell:
    cmd: curl -fsSL "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x9FA6017ECABE0266" | gpg --dearmor | sudo tee /etc/apt/keyrings/bruno.gpg > /dev/null
  become: true
- name: Add Bruno APT repository
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/bruno.gpg] http://debian.usebruno.com/ bruno stable"
    state: present
    filename: bruno.list
    update_cache: no

# @see https://dbeaver.io/download/#requirements
- name: Add DBeaver APT keyring directory
  ansible.builtin.shell:
    cmd: curl -fsSL "https://dbeaver.io/debs/dbeaver.gpg.key" -o /usr/share/keyrings/dbeaver.gpg.key
  become: true
- name: Add DBeaver APT repository
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/dbeaver.gpg.key] https://dbeaver.io/debs/dbeaver-ce /"
    state: present
    filename: dbeaver.list
    update_cache: no

# @see https://docs.docker.com/engine/install/debian/
- name: Add Docker APT repository
  become: true
  ansible.builtin.deb822_repository:
    name: docker
    types: [deb]
    uris: "https://download.docker.com/linux/debian"
    signed_by: "https://download.docker.com/linux/debian/gpg"
    architectures: amd64
    suites:
      - "{{ ansible_distribution_release }}"
    components:
      - stable
    state: present
    enabled: yes
  when: docker | default(false)

# @see https://support.mozilla.org/en-US/kb/install-firefox-linux#w_install-firefox-deb-package-for-debian-based-distributions
- name: Add Mozilla APT keyring directory
  ansible.builtin.shell:
    cmd: wget -q https://packages.mozilla.org/apt/repo-signing-key.gpg -O- | sudo tee /etc/apt/keyrings/packages.mozilla.org.asc > /dev/null
  become: true
- name: Add Mozilla APT repository
  become: true
  ansible.builtin.deb822_repository:
    name: mozilla
    types: [deb]
    uris: " https://packages.mozilla.org/apt"
    signed_by: "/etc/apt/keyrings/packages.mozilla.org.asc"
    architectures: amd64
    suites:
      - "mozilla"
    components:
      - main
    state: present
    enabled: yes
  when: firefox | default(false)
- name: Configure APT to prioritize packages from Mozilla repository
  become: true
  ansible.builtin.copy:
    dest: /etc/apt/preferences.d/mozilla
    content: |
      Package: *
      Pin: origin packages.mozilla.org
      Pin-Priority: 1000
  when: firefox | default(false)

# @see https://grafana.com/docs/grafana/latest/setup-grafana/installation/debian/#install-from-apt-repository
- name: Add Grafana APT repository
  become: true
  ansible.builtin.deb822_repository:
    name: grafana
    types: [deb]
    uris: "https://apt.grafana.com"
    signed_by: "https://apt.grafana.com/gpg.key"
    architectures: amd64
    suites:
      - stable
    components:
      - main
    state: present
    enabled: yes

- name: Update the apt cache
  become: true
  ansible.builtin.apt:
    update_cache: yes
