---

# We install Ruby with mise, so this should be executed after the mise role.
#
# @see https://docs.ansible.com/ansible/latest/collections/community/general/gem_module.html
- name: Get ruby path
  ansible.builtin.shell:
    cmd: "{{ ansible_env.HOME }}/.local/bin/mise where ruby"
  register: ruby_dir

- name: Install Ruby gems
  community.general.gem:
    executable: "{{ ruby_dir.stdout }}/bin/gem"
    name: "{{ item }}"
    state: present
  loop:
    - bundler
    - jekyll
  environment:
    PATH: "{{ ansible_env.PATH }}:{{ ansible_env.HOME }}/.local/bin:{{ ruby_dir.stdout }}/bin"
