---
- hosts: 127.0.0.1
  roles:
    - role: alacritty
      when: alacritty | default(false)
    - drawio
    - fonts
    - mise
    - mkcert
    - node-packages
    - packages
    - python-packages
    - ruby-packages
    - servers
    - users
    - role: wireguard
      vars:
        interface:
          comment: "Dell XPS 13 (i.e. 'xps-13')"
          address: "{{ lookup('community.general.bitwarden', 'e735dca9-5493-435c-a71f-b39200ad4e0b', search='id', field='wireguardAddress') | first }}"
          listen_port: "{{ lookup('community.general.bitwarden', 'e735dca9-5493-435c-a71f-b39200ad4e0b', search='id', field='wireguardListenPort') | first }}"
          private_key: "{{ lookup('community.general.bitwarden', 'e735dca9-5493-435c-a71f-b39200ad4e0b', search='id', field='wireguardPrivateKey') | first }}"
        peers:
          - comment: "Rasberry Pi 3 (i.e. 'pi-3')"
            public_key: "{{ lookup('community.general.bitwarden', '7f9fe70f-a0f4-45c2-b062-b3c50170d4c0', search='id', field='wireguardPublicKey') | first }}"
            allowed_ips: "{{ lookup('community.general.bitwarden', '7f9fe70f-a0f4-45c2-b062-b3c50170d4c0', search='id', field='wireguardAllowedIPs') | first }}"
            endpoint: "{{ lookup('community.general.bitwarden', '7f9fe70f-a0f4-45c2-b062-b3c50170d4c0', search='id', field='wireguardEndpoint') | first }}"
            persistent_keepalive: 25
